.headerText {
  margin: 1%;
  font-style: oblique;
  align-content: center;
  background-color: #8d8d8d;
}

.boxText {
  margin: 1%;
  font-style: oblique;
  align-content: center;
  background-color: #8d8d8d;
}

body {
  background-color: #292929;
}
